<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <%-include("partials/header")-%>

    <h1>About</h1>
    <p>As the title suggests, we wish to serve all our visitors with a simple, clean means to pen their wandering thoughts.</p>
    <p>
      Got a thought worth sharing? Leave it here!
    </p>
    <p>Soon incorporating databases. So, stay tuned!</p>
    <%-include("partials/footer")-%>
  </body>
</html>
