<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Compose</title>
  </head>
  <body>
    <%-include("partials/header")-%>

    <h1>Compose</h1>



    <form  action="/compose" method="post">
      <div class="form-group">
        <label for="ptitle">Title</label>
        <input type="text" name="ptitle" class="form-control" id="ptitle">
      </div>
      <div class="form-group">
        <label for="postcontent">Content</label>
        <textarea name="pcontent" class="form-control" rows="5" cols="40"></textarea>

      </div>

      <button type="submit" class="btn btn-warning">Submit</button>
    </form>


    <%-include("partials/footer")-%>
  </body>
</html>
