<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CONTACT</title>
  </head>
  <body>
    <%-include("partials/header")-%>

    <h1>Contact</h1>
    <p>Our development Wiz?</p>
    <p>Oh, you didn't guess?</p>
    <p>The one and only Jeremiah Thomas, guys!</p>
    <p>Haha, just Kidding. This is a product of God's grace. Enjoy!</p>

    <%-include("partials/footer")-%>
  </body>
</html>
