<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Post</title>
  </head>
  <body>
    <%-include("partials/header")-%>

    <h1><%=post_content_markup.new_title%></h1>
    <p><%=post_content_markup.new_content%></p>

    <%-include("partials/footer")-%>
  </body>
</html>
